.keep-markdown-body blockquote {
    border-left: .4rem solid  #3884ff;
    background-color:#f5f7f9;
}


.keep-markdown-body a {
    color: var(--primary-color);
    border-bottom: none;
    padding-bottom: 0;
    border-radius: 0.3rem;
}
